<!DOCTYPE html>
    {% extends "djangoapp/index.html" %}

    <meta charset="UTF-8">
    {% load static %}
        {% block content %}
        {% if error != None %}
           <h1 class="error"> An error occurred: {{error}} </h1>
        {% endif%}
        {%csrf_token%}
        
        {%if reviews %}
            {% for review in reviews %}
                     <div class="card" style="width: 36rem;">
                      <img class="card-img-left" src="{{MEDIA_URL}}/{{ course.image }}" width="240px" height="240px"
                           alt="Course image">
                      <div class="card-body bg-light">
                          <h5 class="card-title">{{ review.name }}, <span class="text-success">
                              Review: {{ review.review}} ({{review.sentiment}})</span></h5>
                        <p class="card-text">{{ course.description}}</p>
                      </div>
                    </div>
            {% endfor %}
        {% else %}
            <h5>No reviews yet!  Be the first to leave one.</h5>
        {%endif%}
        <form action="{% url 'djangoapp:add-review' course.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary"  type="submit"
                   value="{% if course.is_enrolled %}Enter{% else %}Enroll{% endif %} ">
      </form>

          
    {% endblock content %}
