<!DOCTYPE html>
<html lang="en">
   {% extends "djangoapp/index.html" %}
    {% block content %}
    {% if error != '' %}
       <h1 class="error"> An error occurred: {{error}} </h1>
    {% endif%}
    <form action="{% url 'djangoapp:login_request' %}"  method="post">
        {% csrf_token %}
        <div class="container">
          <h1>Login</h1>
          <label for="username"><b>User Name</b></label>
          <input type="text" placeholder="Username" name="username" required>
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Password" name="password" required>
          <div>
            <button class="btn btn-primary" type="submit">Login</button>
          </div>
        </div>
      </form>
      
{% endblock content %}

